table {
    border : 5px solid #000000;
    border-collapse : collapse;
}
thead tr {
    border-bottom : 2px solid #000000;
}
thead td {
    padding : 3px;
    border-right : 2px dashed #000000;
    font-weight : bold;
}
tbody tr {
    border-bottom : 2px dashed #000000;
}
tbody td {
    padding : 3px;
    border-right : 2px dashed #F0F0F0;
    color : #0000FF;
}